.frm {
    border: 1px solid black;
    width: 40vw;
    padding-left: 10px;
    /* box-shadow: 20px 20px 20px black; */
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inp {
    width: 90%;
    height: 6vh;
}

.btn {
    background-color: rgb(18, 173, 51);
    color: white;
    /* width: 30%; */
    border: none;
    height: 5vh;
    margin: 2vh;
}